<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="create-account.component.css">
</head>
<body>
  <h1>Welcome To The Weather Tracking Website</h1>
  <h2>Create Account</h2>
  <form>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username">
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password">
    </div>
    <div>
      <button type="submit">Create Account</button>
      <button routerLink="/login">Login</button>
    </div>

  </form>
</body>
</html>
